.nav-1 {
    background-color: #072146;
    position: static;
}

.nav-2 {
    height: 2em;
    background-color: #028484;
    align-content: flex-end;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

#cotizacion{
    color:antiquewhite;
}

.modal {
    z-index: 10000;
}